@import 'variables';
@import 'mixins';
$title-size: 72px;
$mobile-title-size: 32px;
html {
    background-color: $accent-1;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    color: $main-color;
    font-family: $font-family;
    font-weight: 400;
    background-color: white;
    height: 100%;
    a {
        color: $main-color;
    }
    .impact {
        font-family: $impact-family;
    }
}

.main {
    min-height: 500px;
    position: relative;
}

.height-0 {
    height: 0 !important;
}

.cursive {
    font-family: $cursive-family;
}

h3.mixed-font-title {
    font-size: $title-size;
    text-align: center;
    display: flex;
    margin-bottom: 32px;
    white-space: nowrap;
     :not(.cursive) {
        font-family: $impact-family;
        font-weight: 900;
    }
    .cursive {
        height: $title-size + 6px;
        border-bottom: 2px solid $main-color;
        padding-bottom: 2px;
        padding-left: 50px;
        padding-right: 150px;
        margin: 0 8px;
    }
}

a:hover {
    color: $accent-1-dark;
}

.material-icons {
    font-family: 'Material Icons';
    font-size: 24px;
}

.privacy-modal {
    text-align: left !important;
    font-size: 12px !important;
}

.privacy-btn {
    @include shadow;
    background-color: $accent-1 !important;
    border-radius: 0 !important;
    border: 4px solid $color-white !important;
    text-shadow: -1px -1px 0 $accent-1-extra-dark, 1px -1px 0 $accent-1-extra-dark, -1px 1px 0 $accent-1-extra-dark, 1px 1px 0 $accent-1-extra-dark;
}

.privacy-icon {
    color: $accent-1 !important;
    border-color: $accent-1 !important;
}

@media (max-width: $mobile-size) {
    h3.mixed-font-title {
        font-size: $mobile-title-size;
        .cursive {
            height: $mobile-title-size + 6px;
            padding-left: 20px;
            padding-right: 60px;
        }
    }
}