$main-color: #3e3e3e;
$background-color: #ecf0f1;
$secondary-color: #333333;
$color-black: #000000;
$secondary-color-light: #666666;
$accent-1-extra-dark: #184547;
$accent-1-dark: #457F81;
$accent-1: #00C2CB;
$accent-1-light: #9DD6D8;
$accent-1-extra-light: #CEEAEB;
$accent-2: #CCCCCC;
$accent-2-light: #E5E5E5;
$accent-2-extra-light: #EFEFEF;
$color-white: #ffffff;
$accent-2-dark: #B2B2B2;
$font-family: 'Source Sans Pro',
sans-serif;
$cursive-family: 'Dancing Script',
cursive;
$impact-family: 'Roboto Slab',
cursive;
$mobile-size: 768px;
$medium-size: 991px;
$large-size: 1440px;