$main-color: #3e3e3e;
$background-color: #ecf0f1;
$secondary-color: #000000;
$secondary-color-dark: #030303;
$secondary-color-light: #020202;
$accent-1-dark: #55b8bb;
$accent-1: #3b3b3b;
$accent-1-light: #55b8bb;
$accent-2: #ffffff;
$accent-2-light: #ffffff;
$accent-2-extra-light: #f8f4f0;
$accent-2-dark: #3b3b3b;
$font-family: "Source Sans Pro",
sans-serif;
$cursive-family: "Dancing Script",
cursive;
$impact-family: "Alfa Slab One",
cursive;
$mobile-size: 768px;
$large-size: 1440px;