@import '../../styles/variables';
@import '../../styles/mixins';
$nav-bar-padding: 8px;
.header {
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $main-color;
        padding: 0 8px 8px 8px;
        width: 100%;
        border-bottom: 16px solid $accent-1;
        &:after {
            @include shadow;
            content: "";
            width: 45%;
            height: 16px;
            position: absolute;
            bottom: -16px;
            background-color: $accent-1-dark;
        }
        .nav-wrapper {
            @include shadow;
            position: fixed;
            background-color: $accent-1;
            z-index: 100;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0 0;
            .back-to-top {
                @include shadow;
                position: absolute;
                right: 0px;
                padding: 8px 24px;
                .chevron {
                    display: inline-block;
                    transform: rotate(180deg);
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
            .nav-menu {
                width: 70%;
                max-width: 750px;
                background-color: $accent-1-dark;
                position: relative;
                >div {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    &:before,
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        border-style: solid;
                        border-color: $accent-1-extra-dark transparent transparent transparent;
                        bottom: -11px;
                    }
                    &:before {
                        left: 0;
                        border-width: 11px 0 0 8px;
                    }
                    &:after {
                        right: 0;
                        border-width: 11px 8px 0 0;
                    }
                }
                @include shadow;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    bottom: -11px;
                    border: 16px solid $accent-1-dark;
                    z-index: -1;
                }
                &:before {
                    left: -24px;
                    border-right-width: 16px;
                    border-left-color: transparent;
                }
                &:after {
                    right: -24px;
                    border-left-width: 16px;
                    border-right-color: transparent;
                }
            }
            .btn {
                @include wipebtn;
                background-color: $accent-1-dark;
                color: white;
                padding: $nav-bar-padding;
            }
        }
        h1 {
            margin-top: 64px;
            height: 200px;
            display: flex;
            align-items: center;
            >img {
                height: 35vw;
                max-height: 200px;
            }
        }
        .line {
            border-bottom: 4px solid $accent-1;
            width: 90%;
            display: flex;
            justify-content: center;
            >span {
                width: 50px;
                height: 50px;
                border-left: 4px solid $accent-1;
                border-top: 4px solid $accent-1;
                transform: rotate(-135deg);
                background-color: transparent;
                margin-bottom: -26px;
                z-index: 51;
            }
            &.top {
                width: 80%;
                margin-bottom: -16px;
                >span {
                    z-index: 52;
                }
            }
        }
    }
    .triangle {
        margin-top: 18px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 6px solid $accent-1-dark;
        transform: scale(7);
        position: absolute;
        z-index: 50;
        transition: border-top-color linear 100ms;
        &.light {
            top: 277px;
            z-index: 51;
            border-top: 6px solid $main-color;
        }
    }
}

@media (max-width: $mobile-size) {
    header {
        .nav-wrapper {
            .nav-menu {
                width: 100%;
                flex-wrap: wrap;
                margin: 0 24px;
                height: auto;
            }
            .back-to-top {
                top: 40px;
                right: 0px;
                span {
                    display: none;
                }
            }
        }
        h1 {
            margin-top: 64px;
            height: 100px;
            >img {
                height: 100px;
            }
        }
    }
    .triangle.light {
        top: 179px;
    }
}