@import '../../styles/variables';
$nav-bar-padding: 8px;
.header {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $main-color;
        padding: 0 8px 8px 8px;
        width: 100%;
        border-bottom: 16px solid $accent-1;
        .nav-wrapper {
            position: fixed;
            background-color: $accent-1;
            z-index: 100;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0 0;
            .back-to-top {
                position: absolute;
                right: 16px;
                padding: 0;
                .chevron {
                    display: inline-block;
                    transform: rotate(180deg);
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
            .nav-menu {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 70%;
                max-width: 750px;
            }
            .btn {
                font-weight: 300;
                border-radius: 0px;
                display: block;
                color: $accent-2-extra-light;
                white-space: nowrap;
                padding: $nav-bar-padding 8px;
                background: linear-gradient( to bottom, $accent-2-extra-light 0%, $accent-2-extra-light 100%);
                background-position: 0 100%;
                background-repeat: repeat-x;
                background-size: 4px 0px;
                text-decoration: none;
                transition: color 500ms 100ms, background-size 500ms, opacity 150ms;
                border: none;
                &:hover,
                &:focus {
                    color: $accent-1;
                    text-decoration: underline;
                    background-size: 4px 50px;
                    svg * {
                        stroke: $accent-1;
                    }
                }
            }
        }
        h1 {
            margin-top: 64px;
            height: 200px;
            display: flex;
            align-items: center;
            >img {
                height: 35vw;
                max-height: 200px;
            }
        }
        .line {
            border-bottom: 4px solid $accent-1;
            width: 90%;
            display: flex;
            justify-content: center;
            >span {
                width: 50px;
                height: 50px;
                border-left: 4px solid $accent-1;
                border-top: 4px solid $accent-1;
                transform: rotate(-135deg);
                background-color: transparent;
                margin-bottom: -26px;
                z-index: 51;
            }
            &.top {
                width: 80%;
                margin-bottom: -16px;
                >span {
                    z-index: 52;
                }
            }
        }
    }
    .triangle {
        margin-top: 18px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 6px solid $accent-1;
        transform: scale(7);
        position: absolute;
        z-index: 50;
        transition: border-top-color linear 100ms;
        &.scroll {
            position: fixed;
            border-top-color: $accent-1;
        }
        &.light {
            top: 277px;
            z-index: 51;
            border-top: 6px solid $main-color;
        }
    }
}

@media (max-width: $mobile-size) {
    header {
        .nav-wrapper {
            .nav-menu {
                width: 100%;
                flex-wrap: wrap;
                margin: 0 24px;
                height: auto;
            }
            .back-to-top {
                right: 0px;
                span {
                    display: none;
                }
            }
        }
        h1 {
            margin-top: 64px;
            height: 100px;
            >img {
                height: 100px;
            }
        }
    }
    .triangle.light {
        top: 179px;
    }
}