@use 'sass:math';
@import '../../styles/variables';
@import '../../styles/mixins';

// Header variables
$header-btn-font-size: 1.5rem;
$header-btn-y-padding: 6px;
.header {
    header {
        @include shadow;
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $main-color;
        padding: (math.div($header-btn-font-size, 1rem)*16px) + 2 * $header-btn-y-padding 8px 0 8px;
        width: 100%;
        .nav-wrapper {
            @include shadow;
            position: fixed;
            z-index: 3;
            top: 0;
            background-color: $accent-1;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0 0;
            .back-to-top {
                height: 100%;
                display: flex !important;
                align-items: center;
                position: absolute;
                right: 0px;
                padding: 8px 24px;
                .chevron {
                    display: inline-flex;
                    transform: rotate(180deg);
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
            .nav-menu {
                width: 70%;
                max-width: 750px;
                background-color: $accent-1;
                position: relative;
                >div {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }
            .btn {
                @include wipebtn;
                background-color: $accent-1;
                font-weight: 400;
                line-height: $header-btn-font-size;
                font-size: $header-btn-font-size;
                color: $color-white;
                text-shadow: -1px -1px 0 $accent-1-extra-dark, 1px -1px 0 $accent-1-extra-dark, -1px 1px 0 $accent-1-extra-dark, 1px 1px 0 $accent-1-extra-dark;
                padding: $header-btn-y-padding 8px;
            }
        }
        h1 {
            padding: 16px 0;
            margin: 0;
            align-items: center;
            >img {
                height: 35vw;
                max-height: 200px;
            }
        }
        .line {
            border-bottom: 4px solid $accent-1;
            width: 90%;
            display: flex;
            justify-content: center;
            >span {
                width: 50px;
                height: 50px;
                border-left: 4px solid $accent-1;
                border-top: 4px solid $accent-1;
                transform: rotate(-135deg);
                background-color: transparent;
                margin-bottom: -26px;
                z-index: 51;
            }
            &.top {
                width: 80%;
                margin-bottom: -16px;
                >span {
                    z-index: 52;
                }
            }
        }
    }
}

@media (max-width: $mobile-size) {
    $header-btn-font-size: 1rem;
    $header-btn-y-padding: 6px;
    .header {
        header {
            padding: (math.div($header-btn-font-size, 1rem)*16px) + 2 * $header-btn-y-padding 8px 8px 8px;
            .nav-wrapper {
                .nav-menu {
                    width: 100%;
                    flex-wrap: wrap;
                    margin: 0 24px;
                    height: auto;
                }
                .btn {
                    font-weight: 400;
                    line-height: $header-btn-font-size;
                    font-size: $header-btn-font-size;
                }
                .back-to-top {
                    @include shadow;
                    top: 32px;
                    display: flex;
                    align-items: center;
                    right: 0px;
                    .chevron {
                        margin-right: 0;
                    }
                    span {
                        display: none;
                    }
                }
            }
            h1 {
                min-height: 100px;
            }
        }
    }
}