@import '../../styles/variables';
.carousel {
    height: 700px;
    background-color: $secondary-color-dark;
    position: relative;
    .img-container {
        z-index: 0;
        opacity: 0.2;
        height: 100%;
        >div {
            height: 100%;
        }
    }
    .front {
        display: flex;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 1;
        position: absolute;
        color: $accent-2-light;
        font-weight: 200;
        padding: 0 16px;
        >div {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            >div {
                display: flex;
                justify-content: center;
                position: relative;
                h2 {
                    text-align: center;
                    color: $accent-2-light;
                    font-weight: 200;
                    font-size: clamp(32px, 7vw, 88px);
                    letter-spacing: -3px;
                    word-spacing: 16px;
                    margin-bottom: 64px;
                }
                h3 {
                    color: $accent-1-light;
                    font-size: clamp(28px, 5vw, 48px);
                    bottom: 2vw;
                    opacity: 0.6;
                    position: absolute;
                }
            }
            .body {
                max-width: 1000px;
                font-size: 20px;
                ul {
                    font-size: 16px;
                    list-style-type: none;
                    margin-top: 48px;
                    columns: 2;
                    -webkit-columns: 2;
                    -moz-columns: 2;
                    li {
                        margin: 24px 0;
                        &:before {
                            content: '';
                            margin-left: -16px;
                            opacity: 0.3;
                            z-index: -1;
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-left: 8px solid $accent-1;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile-size) {
    .carousel {
        .front {
            >div {
                >div {
                    h2 {
                        margin-bottom: 32px;
                        letter-spacing: -1px;
                    }
                }
                .body {
                    font-size: 14px;
                }
            }
        }
    }
}