@import '../../styles/variables';
.carousel {
    .main {
        display: flex;
        background-color: $accent-2-extra-light;
        >div:first-child {
            max-height: 500px;
        }
        >div:nth-child(2) {
            padding: 32px;
            h2 {
                font-size: 1.8vw;
                white-space: nowrap;
            }
            h3 {
                font-size: 32px;
                color: $accent-1-dark;
                font-family: $cursive-family;
                margin-left: 54px;
            }
        }
    }
    .carousel.slide {
        height: 100%;
        .carousel-inner {
            background-color: $main-color;
            height: 100%;
            display: flex;
            align-items: center;
            >slide {
                height: 100%;
            }
        }
    }
    .separator {
        width: 100%;
        height: 16px;
        background-color: $main-color;
    }
}

@media (max-width: $medium-size) {
    .carousel .main>div:nth-child(2) h2 {
        font-size: clamp(12px, 4.7vw, 42px);
    }
}