@import '../../styles/variables';
.about-me {
    .main {
        padding: 112px 32px;
        background-color: white;
        h3 {
            flex-wrap: nowrap;
            justify-content: center;
        }
        .body {
            max-width: 100vw;
            width: 600px;
            p:last-child {
                border-bottom: 2px solid $main-color;
                padding-bottom: 32px;
            }
        }
        .profile {
            width: 25vw;
            height: 25vw;
            max-width: 350px;
            max-height: 350px;
        }
    }
}

@media (max-width: $mobile-size) {
    .about-me {
        .main {
            padding: 32px 32px;
        }
    }
}