@import '../../styles/variables';
@import '../../styles/mixins';
.contact {
    .main {
        display: flex;
        .title-card {
            z-index: 1;
            @include shadow;
            background-color: $accent-2-light;
            display: flex;
            align-items: center;
            width: 180px;
            min-height: 500px;
            justify-content: center;
            h3 {
                transform: rotate(90deg);
                letter-spacing: 1px;
                span:not(.cursive) {
                    text-transform: uppercase;
                }
                .cursive {
                    padding: 0 20px;
                }
            }
        }
        .methods {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            padding: 160px 0;
            >div {
                display: flex;
                justify-content: center;
                flex-basis: 25%;
            }
            a {
                @include wiggle;
                @include shadow;
                width: 300px;
                height: 300px;
                background-color: $color-white;
                transition: background-color 500ms linear;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                border: 6px solid $accent-2-light;
                margin: 16px 48px;
                >div:not(.title) {
                    padding-bottom: 24px;
                    font-size: 24px;
                    margin-bottom: auto;
                    margin-top: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .icon {
                        width: 96px;
                        height: 96px;
                    }
                    >span {
                        font-weight: 100;
                        transition: color 500ms linear;
                    }
                }
                .title {
                    transition: color 500ms linear;
                    position: absolute;
                    z-index: 1;
                    font-family: $cursive-family;
                    font-size: 48px;
                    line-height: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    border-top: 6px solid $accent-2-light;
                    background-color: $accent-2-light;
                    &:before {
                        content: '';
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        transform: rotate(45deg);
                        border-top: 5px solid $accent-2-light;
                        border-left: 5px solid $accent-2-light;
                        background-color: $accent-2-light;
                        bottom: 24px;
                        z-index: -1;
                    }
                }
                &:hover {
                    text-decoration: none;
                    background-color: $accent-1-extra-light;
                    color: $main-color;
                }
            }
        }
    }
}

@media (max-width: 1588px) {
    .contact .main .methods>div {
        flex-basis: 50%;
        &:nth-child(even) {
            justify-content: flex-start;
        }
        &:nth-child(odd) {
            justify-content: flex-end;
        }
    }
}

@media (max-width: $mobile-size) {
    .contact .main {
        .methods {
            padding: 16px 16px;
            >div a {
                width: 200px;
                height: 200px;
                >div:not(.title) .icon {
                    width: 64px;
                    height: 64px;
                }
                .title {
                    font-size: 32px;
                    line-height: 24px;
                    &:before {
                        width: 32px;
                        height: 32px;
                        bottom: 14px;
                    }
                }
            }
        }
        flex-direction: column-reverse;
        .title-card {
            height: auto;
            min-height: unset;
            width: auto;
            h3 {
                transform: none;
                margin: 16px 0;
            }
        }
    }
}