@import '../../styles/variables';
@import '../../styles/mixins';
.contact {
    .main {
        display: flex;
        .title-card {
            z-index: 1;
            @include shadow;
            background-color: $accent-2-light;
            display: flex;
            align-items: center;
            width: 180px;
            min-height: 500px;
            justify-content: center;
            h3 {
                transform: rotate(90deg);
                letter-spacing: 1px;
                span:not(.cursive) {
                    text-transform: uppercase;
                }
                .cursive {
                    padding: 0 20px;
                }
            }
        }
        .methods-container {
            order: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            .methods {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                place-items: center;
                width: 100%;
                position: relative;
                padding: 16px;
                padding-top: 128px;
                &.locations {
                    display: flex;
                    justify-content: space-evenly;
                    background-color: $accent-1-extra-light;
                    padding-top: 16px;
                    padding-bottom: 96px;
                    >div {
                        margin-right: 40px;
                        &:first-of-type {
                            margin-left: 120px;
                        }
                        &:last-of-type {
                            margin-right: 160px;
                        }
                    }
                }
                >div {
                    display: flex;
                    position: relative;
                    max-width: 300px;
                    width: 100%;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 0;
                        padding-bottom: 100%;
                    }
                    .hours {
                        @include shadow;
                        width: 32px;
                        height: 100%;
                        background-color: $accent-2-light;
                        position: absolute;
                        right: -40px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        .day {
                            font-family: $impact-family;
                            background-color: $accent-1-dark;
                            color: $color-white;
                            position: relative;
                            width: 1.5rem;
                            height: 1.5rem;
                            line-height: 1.5rem;
                            text-align: center;
                            border-radius: 50%;
                            &[aria-disabled='true'] {
                                background-color: $accent-2;
                                color: $accent-2-dark;
                            }
                        }
                    }
                }
                a {
                    @include wiggle;
                    @include shadow;
                    background-color: $color-white;
                    text-decoration: none;
                    transition: background-color 500ms linear;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    border: 6px solid $accent-2-light;
                    >div:not(.title) {
                        padding-bottom: 56px;
                        font-size: 24px;
                        margin-bottom: auto;
                        margin-top: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .icon {
                            width: 96px;
                            height: 96px;
                        }
                        >span {
                            font-weight: 100;
                            line-height: 100%;
                            transition: color 500ms linear;
                        }
                    }
                    .title {
                        transition: color 500ms linear;
                        text-align: center;
                        position: absolute;
                        z-index: 1;
                        font-family: $cursive-family;
                        font-size: 48px;
                        line-height: 90%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        padding: 0 8px;
                        border-top: 6px solid $accent-2-light;
                        background-color: $accent-2-light;
                        &:before {
                            content: '';
                            width: 15%;
                            padding-top: 15%;
                            position: absolute;
                            transform: rotate(45deg);
                            background-color: $accent-2-light;
                            bottom: 55%;
                            z-index: -1;
                        }
                    }
                    &:hover {
                        text-decoration: none;
                        background-color: $accent-2-extra-light;
                        color: $main-color;
                    }
                }
            }
        }
    }
}

@media (max-width: $medium-size) {
    .contact .main .methods-container {
        .methods {
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 16px;
            grid-template-columns: unset;
            &.locations {
                padding-bottom: 16px;
                flex-direction: column;
                >div:first-of-type,
                >div:last-of-type {
                    margin-right: 0;
                    margin-left: -32px;
                }
            }
        }
    }
}

@media (max-width: $mobile-size) {
    .contact .main {
        flex-direction: column-reverse;
        .title-card {
            height: auto;
            min-height: unset;
            width: auto;
            h3 {
                transform: none;
                margin: 16px 0;
            }
        }
    }
}