@import '../../styles/variables';
$picture-offset: 70px;
.work {
    .main {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        .left {
            background-color: $main-color;
            position: relative;
            width: 100%;
            height: 350px;
            align-self: flex-end;
        }
        .caption {
            flex-grow: 1;
            z-index: 1;
            position: absolute;
            left: 5vw;
            background-color: $accent-2-light;
            width: 800px;
            height: 400px;
            margin-bottom: $picture-offset;
            h2 {
                font-family: $cursive-family;
                color: $secondary-color;
                font-size: 64px;
                margin-top: -60px;
                margin-left: -36px;
                transform: rotate(-6deg);
                background-image: linear-gradient( 120deg, $accent-1-dark 0%, transparent 100%);
                background-repeat: no-repeat;
                background-size: 50% 6px;
                background-position: 0 100%;
            }
            p {
                padding: 64px;
                color: $secondary-color-light;
            }
        }
        .img-container {
            height: 100%;
            max-height: 500px;
            position: relative;
            margin-bottom: $picture-offset;
            .img-bg {
                background-color: $accent-1-light;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
            >img {
                height: 100%;
                max-height: 500px;
                opacity: 0.4;
                filter: grayscale(1);
            }
        }
    }
}

@media (max-width: $medium-size) {
    .work {
        .main {
            flex-direction: column-reverse;
            height: auto;
            .left {
                height: 50px;
            }
            .caption {
                margin-bottom: 0;
                position: relative;
                left: auto;
                width: 100%;
                height: auto;
                h2 {
                    margin-left: 0px;
                }
            }
            .img-container {
                margin-bottom: 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: $mobile-size) {
    .work {
        .main .caption h2 {
            font-size: 48px;
        }
        .main .caption p {
            padding: 32px;
        }
    }
}